html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  padding: 10px !important;
}
